<p id="notice"><%= notice %></p>

<div>
  <% if @current_user.present? && @current_user.admin? %>
    <%= link_to "Edit Team", edit_team_path(@team.id) %>
  <% end %>
  <h2><%= @team.name %></h2>
  <img src="<%= @team.logo %>">
  <p><%= @team.address %></p>



</div>

<div >

  <% @team.athletes.each do |athlete| %>
    <%= image_tag athlete.photo, :class => 'thumb' %>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Name: <%= link_to athlete.name, athlete_path(athlete.id) %></li>
      <li class="list-group-item">Weight: <%= athlete.weight %></li>

      <% if athlete.birthday.present? %>
        <li class="list-group-item">Date of Birth: <%= athlete.birthday.strftime '%A, %B %e, %Y' %></li>
      <% end %>

      <% if athlete.team.present? %>
        <li class="list-group-item">Team: <%= athlete.team.name%></li>
      <% end %>

      <% if athlete.belt.present? %>
        <li class="list-group-item">Belt: <%= link_to athlete.belt.name, belt_path(:id => athlete.belt.id)%></li>
      <% end %>
    </ul>
  <% end %>

</div>

<%= link_to 'Back', teams_path %>
