<%= form_for @athlete do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.url_field :photo, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :weight %>
    <%= f.text_field :weight, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :birthday, "Date of birth" %>
    <%= f.date_field :birthday, :placeholder => 'YYYY-MM-DD' %>
  </div>

  <div class="form-group">
    <%= f.label :team_id %>
    <%= f.select :team_id, Team.pluck(:name, :id), :include_blank => true %>
  </div>

  <div class="form-group">
    <%= f.label :belt_id %>
    <%= f.select :belt_id, Belt.pluck(:name, :id), :include_blank => true %>
  </div>

  <%= f.submit%>
<% end %>
