<div>
  <%= link_to "New athlete", new_athlete_path %>
</div>

<% @athletes.each do |athlete| %>
  <%= image_tag athlete.photo, :class => 'thumb' %>

  <ul>
    <li>Name: <%= link_to athlete.name, athlete_path(athlete.id) %></li>
    <li>Weight: <%= athlete.weight %></li>
    <% if athlete.birthday.present? %>
      <li>Date of Birth: <%= athlete.birthday.strftime '%A, %B %e, %Y' %></li>
    <% end %>

    <% if athlete.team.present? %>
      <li>Team: <%= link_to athlete.team.name, team_path(:id => athlete.team.id) %></li>
    <% end %>

    <% if athlete.belt.present? %>
      <li>Belt: <%= link_to athlete.belt.name, belt_path(:id => athlete.belt.id) %></li>
    <% end %>
  </ul>

<% end %>
