<h1><%= @athlete.name %></h1>

<%= image_tag @athlete.photo, :class => 'feature' %>

<ul>
  <li>Name: <%= @athlete.name %></li>
  <% if @athlete.birthday.present? %>
    <li>Date of Birth: <%= @athlete.birthday.strftime '%A, %B %e, %Y' %></li>
  <% end %>

  <% if @athlete.team.present? %>
  <li>Team: <%= @athlete.team.name %></li>
  <% end %>

  <% if @athlete.belt.present? %>
  <li>Belt: <%= @athlete.belt.name %></li>
  <% end %>
  
</ul>

<div class="controls">
  <%= link_to 'Edit athlete', edit_athlete_path(@athlete.id) %>
  <%= link_to 'Delete athlete', athlete_path(@athlete.id), :method => 'delete' %>
</div>

<ul>
<% @videos.each do |video| %>
  <li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </li>
<% end %>
</ul>