<!DOCTYPE html>
<html>
  <head>
    <title>Bjjking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Athletes", athletes_path %></li>
          <li><%= link_to "Belts", belts_path %></li>
          <li><%= link_to "Teams", teams_path %></li>
        </ul>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
